<launch>
  <!-- Node 1 -->
  <node name="face_detection_node" pkg="face_detection" type="age_gander_node.py" output="screen" />

  <!-- Node 2 -->
  <node name="face_recognition_node" pkg="face_detection" type="face_recognation_node.py" output="screen" />

  <!-- Node 3 -->
  <node name="yolo_detection" pkg="face_detection" type="testyolov8.py"  output="screen" />
  
  <!-- Node 4 -->
  <node name="video_publisher" pkg="face_detection" type="camer_node.py" output="screen" />
</launch>
