<launch>

    <!-- Load the robot arm model -->
    <arg name="model" default="$(find zetax)/urdf/zetax.urdf.xacro"/>

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

    <!-- Launch the interface with the robot -->
    <include file="$(find zetaxbot_controller)/launch/controller.launch">
        <arg name="is_sim" value="false"/>
    </include>

    <!-- Launch moveit move_group -->
    <include file="$(find zetaxbot_moveit)/launch/move_group.launch"/>

    <!-- Launch moveit rviz gui -->
    <include file="$(find zetaxbot_moveit)/launch/moveit_rviz.launch">
        <arg name="rviz_config" value="$(find zetaxbot_moveit)/launch/moveit.rviz"/>
    </include>

    <!-- Launch the interface with alexa -->
    

</launch>
