<launch>

  <!-- Launch the Gazebo simulation of the robot arm -->
  <arg name="model" default="$(find zetax)/urdf/zetax.urdf.xacro"/>

  <include file="$(find zetax)/launch/gazebo.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!-- Launch the controllers -->
  <include file="$(find zetaxbot_controller)/launch/controller.launch">
    <arg name="is_sim" value="true"/>
  </include>

  <!-- Launch moveit move_group -->
  <include file="$(find zetaxbot_moveit)/launch/move_group.launch"/>

  <!-- Launch moveit rviz gui -->
  <include file="$(find zetaxbot_moveit)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(find zetaxbot_moveit)/launch/moveit.rviz"/>
  </include>

  <!-- Launch the interface with alexa -->
  <!-- <include file="$(find arduinobot_remote)/launch/remote_interface.launch"/> -->

</launch>