<launch>
  <!-- Load Amazon API keys and GPT API key from JSON files -->
  <rosparam command="load" file="$(find voice_chat)/config/amazon_api_keys.json" />
  <rosparam command="load" file="$(find voice_chat)/config/GPT_SECRET_KEY.json" />

  <!-- Start the speech recognition node -->
  <node name="speech_recognition_node" pkg="voice_chat" type="speech_recognition_node.py" output="screen">
    <param name="api_key_file" value="$(find voice_chat)/config/amazon_api_keys.json" />
  </node>

  <!-- Start the GPT node -->
  <node name="gpt_node" pkg="voice_chat" type="gpt_node.py" output="screen">
    <param name="gpt_api_key" value="$(find voice_chat)/config/gpt_api_key.json" />
  </node>

  <!-- Start the classification node -->
  <node name="classification_node" pkg="voice_chat" type="classification_node.py" output="screen">
    <param name="api_keys_file" value="$(find voice_chat)/config/amazon_api_keys.json" />
  </node>

  <!-- Start the Polly node -->
  <node name="voice_node" pkg="voice_chat" type="voice_node.py" output="screen">
    <param name="api_keys_file" value="$(find voice_chat)/config/amazon_api_keys.json" />
  </node>
</launch>
